.task-box {
    display: flex;
    height: 80px;
    align-items: center;
    font-size: 20px;
}

.task-name {
    width: 25%;
    text-align: center;
   
}

.task-desc {
    width: 35%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-left: 20px;
    
}

.action-buttons {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    background-color: transparent;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .action-check {
        width: 30px;
        height: 30px;
        background: red;
  }
  
.button-icon {
    height: 18px;
}

.task-data {
    width: 20%;
    text-align: center;
    
}


body.active-modal {
    overflow-y: hidden;
    
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    animation-name: showModal;
    animation-duration: 0.3s;
    animation-direction:alternate;

}

.overlay {
    
    background: rgba(21, 21, 21, 0.879)
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #141414;
    border: 5px solid white;
    padding: 14px 28px;
    border-radius: 3px;
    height: 80%;
    width: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form-container-modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
    flex-direction: column;
}

.modal-header {
    margin: 40px;
}

.modal-description {
    word-wrap: break-word;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
   background-color: transparent;
   border: none;
   
}

.close-modal-icon {
    cursor: pointer;
}

@keyframes showModal {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes closeModal {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .asd {
    width: 50px;
    height: 50px;
    background-color: red;
  }


